* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.in,
.out {
  flex: 0 1 auto;
  font-size: 1rem;
  font-weight: 300;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.4rem 1rem;
  border: 1px solid #777;
  border-radius: 5px;
}

.out {
  cursor: pointer;
}

.in,
.out:focus {
  border: 0.12rem solid rgb(32, 151, 111);
  background-color: hsla(171, 36%, 85%, 0.377);
}

.in,
.out:hover {
  border: 0.12rem solid rgb(32, 151, 111);
  background-color: hsla(171, 36%, 85%, 0.377);
}

.in,
.out:active {
  border: 0.12rem solid rgb(32, 151, 111);
  background-color: hsla(171, 36%, 85%, 0.377);
}
