:root {
  --primary: #258a68;
}

.card {
  padding: 2% 3%;
  margin-bottom: 1.2rem;
  display: flex;
  width: 100%;
  max-width: 920px;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.75);
}

.userInfos {
  display: flex;
  gap: 1rem;
}

.avatar {
  width: 100%;
  height: auto;
}

.userInfos .infoPlaceholder {
  display: flex;
  align-items: center;
  width: 65px;
  height: auto;
}

.infos h2 {
  margin-bottom: 0.4rem;
}

.infos p {
  margin-bottom: 0.3rem;
}

.status {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.status h4 {
  margin-bottom: 0.4rem;
}

.status .statusItems {
  display: flex;
  gap: 1rem;
}

.stat {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: white;
  background-color: var(--primary);
}

.r .item {
  background-color: rgb(233, 230, 224);
  color: var(--primary);
}

.contactIcons {
  color: var(--primary);
}

.contact p {
  margin-bottom: 0.35rem;
}
